/* .bdr{border:1px solid red;}
body{font-family: Nunito;}.btn-label-danger { font-size: 12px; background-color: rgb(253, 57, 122); color: #fff; font-weight: 700; cursor: text !important; white-space: nowrap; }
.table {width: 100%;margin-bottom: 1rem; color: #212529;background-color: transparent;}
thead, tfoot { background: #f7f7f7;}
.table th {vertical-align: bottom; color: rgb(0,0,0,.9);     font-weight: 800 !important;}
.table td{color: rgb(0,0,0,.9);}
.table td, .table th {font-size: 12px;padding: .4rem .5rem;vertical-align: top;font-weight: 600;border-top: 1px solid #dadada;border-bottom: 1px solid #dadada;}
table { border-collapse: collapse;} */